* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: brown;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    width: 800px;
    height: 400px;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3px;
    row-gap: 3px;
}

.pieza {
    background-color: white;
}
